.mask {
  position: absolute;
  height: calc(100px + 100%);
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 65%
  );
  transition: transform 300ms ease;
  z-index: 2;

  &:hover {
    transform: translateY(-100px);
  }
}

.separator-line {
  height: 1px;
  width: 32px;
  margin: 1.5rem 0;
  @apply bg-gradient-to-r from-gold-gradientFrom to-gold-gradientTo;
}

.lazy-video {
  //display: none;
}

.overlay {
  @apply after:absolute after:top-0 after:h-full after:w-full  after:content-[''];
  &:after {
    background: radial-gradient(
        circle,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0) 25%
      ),
      linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.25) 0%,
        rgba(0, 0, 0, 0) 25%
      );
  }
}

.close-button {
  width: 24px;
  height: 24px;

  .bar {
    @apply bg-black;
    width: 100%;
    padding: 0;
    height: 2px;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.loader-active {
  &.loader {
    @apply visible opacity-100;
  }
}

.loader {
  @apply invisible fixed left-0 top-0 z-10 flex h-full w-full items-center justify-center bg-black/50 opacity-0 transition-all duration-500;
}

.spinner {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  @apply border-t-4 border-t-black;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  @apply border-l-4 border-l-gold-solid;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reveal {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transform: translateY(20px);

  &-300 {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(20px);
    transition-delay: 300ms;
  }

  &-600 {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(20px);
    transition-delay: 600ms;
  }
}

.reveal-right {
  opacity: 0;
  transform: translateX(20px);
  transition: all 0.5s ease-in-out;
}

.reveal-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.5s ease-in-out;
}

.reveal-show {
  opacity: 1;
  transform: translate(0, 0);
}

.bounce {
  animation: bounce 2s ease infinite;

  &:hover {
    animation: notexistent;
  }
}

.animate__animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.animate__fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.9);
  }
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(0);
  }
}
